@using System.Data
@model System.Data.DataTable 
@{
    ViewData["Title"] = "StudentSearch";
}

<html>
<head>
    @*<title class="text-danger">@ViewBag.msg</title>*@
    <title></title>
</head>

<body>
    <div class="container">



        <div class="card">
            <div class="card-header">
                <h3 class="text-danger">@ViewBag.msg</h3>
            </div>
            <div class="card-body">
                @*Noedit*@

                <div class="row">
                    <div class="col-md-6">
                        <form asp-action="StudentSearch" method="post">
                            <div class="row align-items-center">
                                <div class="col-md-6">
                                    <label>Minimum score : </label>
                                    <input type="number" name="min" class="form-control" />
                                    <span style="padding:10px;"></span>
                                </div>
                                <div class="col-md-6">
                                    <label>Maximum score : </label>
                                    <input type="number" name="max" class="form-control" />
                                    <span style="padding:10px;"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 d-flex justify-content-center">
                                    <button type="submit" class="btn btn-success btn-sm">Search</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6 overflow-auto">
                        @if (Model != null)
                        {
                            <table class="table table-striped ">
                                <thead>
                                    <tr>
                                        @foreach (DataColumn c in Model.Columns)
                                        {
                                            <th>@c.ColumnName</th>

                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (DataRow r in Model.Rows)
                                    {
                                        <tr>
                                            @foreach (DataColumn c in Model.Columns)
                                            {
                                                <td>@r[c]</td>

                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        }
                    </div>

                </div>

       @*<div class="row d-flex justify-content-end">
            <div class="col-md-6">
                <label>Minimum score : </label>
                <input type="number" name="min" class="form-control" />
                <span style="padding:10px;"></span>
            </div>
        </div>*@

                <div class="row d-flex flex-row-reverse">

                    <div class="col-md-6">
                        <form asp-action="" method="post">
                            <div class="row align-items-center">
                                <div class="col-md-6">
                                    <label>Minimum score : </label>
                                    <input type="number" name="min" class="form-control" />
                                    <span style="padding:10px;"></span>
                                </div>
                                <div class="col-md-6">
                                    <label>Maximum score : </label>
                                    <input type="number" name="max" class="form-control" />
                                    <span style="padding:10px;"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 d-flex justify-content-center">
                                    <button type="submit" class="btn btn-danger btn-sm">Search</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6 overflow-auto">
                        @if (Model != null)
                        {
                            <table class="table table-striped ">
                                <thead>
                                    <tr>
                                        @foreach (DataColumn c in Model.Columns)
                                        {
                                            <th>@c.ColumnName</th>

                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (DataRow r in Model.Rows)
                                    {
                                        <tr>
                                            @foreach (DataColumn c in Model.Columns)
                                            {
                                                <td>@r[c]</td>

                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        }
                    </div>

                </div>
            



                @*<div class="row d-flex justify-content-end">
                    <div class="col-md-3">
                        <label>score : </label>
                        <input type="number" name="min" class="form-control" />
                        <span style="padding:10px;"></span>
                    </div>
                    <div class="col-md-3">
                        <label>Minimum score : </label>
                        <input type="number" name="min" class="form-control" />
                        <span style="padding:10px;"></span>
                    </div>
                </div>*@



            </div> @*card-body*@
        </div>@*card*@
    </div>
</body>
</html>
